:root {
    --black-100: #16171b;
    --white: white;
    --red: #ff4d4d;
    --blue-2: #92bee7;
    --purple-100: #866cc7;
    --black-95: #222326;
    --qualified: #3cb652;
    --black-40: #a2a2a4;
    --white-5: #ffffff0d;
    --white-10: #ffffff1a;
    --orange: #f29871;
    --black-80: #454549;
    --black-90: #2d2e32;
    --white-2-21: #ffffff05;
    --rank-yellow: #edb513;
    --cool-red: #f271a7;
    --white-20: #fff3;
    --black-50: #8a8b8d;
    --rank-blue: #1f87e7;
}